body
{
  background-color: #CEE4ED;
}
.header
{
  background-color: #2A5E99;
  position: fixed;
  width: 1448px;
  height: 96px;
  left: -8px;
  top: 0px;
}
.stheader
{
  position: fixed;
  width: 612px;
  height: 74px;
  left: 410px;
  top: -40px;
  font-family: Coiny;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 79px;
  text-align: center;
  color: #FFFFFF;
}
footer
{
  background-color: #2A5E99;;
  padding: 10px;
  width: 1432px;
  height: 36px;
  position: fixed;
  bottom: 0px;
  left: -8px;
}
.cifooter
{
  position: absolute;
  width: 343px;
  height: 31px;
  padding: 0px;
  font-family: Fenix;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  color: #FFFFFF;

}
